<!DOCTYPE html>
<html>
<head>
<title>Graph Algorithm Simulator</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>

<body>

<h1>Graph Algorithm Simulator</h1>

<div class="container">

<a href="/bellman1">
<button>Bellman-Ford Problem 1</button>
</a>

<a href="/bellman2">
<button>Bellman-Ford Problem 2</button>
</a>

<a href="/dijkstra1">
<button>Dijkstra Problem 1</button>
</a>

<a href="/dijkstra2">
<button>Dijkstra Problem 2</button>
</a>

<a href="/comparison">
<button>Algorithm Comparison</button>
</a>

</div>

</body>
</html>